/*este es el codigo css de la pagina principal*/
body { 
  box-sizing: border-box;
    margin:0;
    background-color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
}
.btn_pagina1 {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    color: #e2e2e2;
  }
  
  .btn_pagina1:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .btn_pagina1:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .btn_pagina1:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .btn_pagina1:hover:before {
    border-color: #009;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .btn_pagina1:hover:after {
    border-color: #868686;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
.principal {
    padding: 5px;
    margin: 0%;
  }
.resaltar {
    color:rgb(25, 0, 255);
    font-size: 55px;
}
header {
  padding: 0%;
  margin: 0%;
  background-color: #080d11;
  border:2px solid black;
  font-size: 30px;
  text-shadow: 3px 3px 6px rgba(0, 0, 255, 10);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inicio {
  display: flex;
  flex-direction: column;
}

.inicio a {
  margin-bottom: 10px;
}

h4 {
  font-weight: bold;
}
.Logo {
    width: 7%;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #009;
  /* Estilos adicionales para el div centrado */
}
h4 {
  font-size: 25px;
  text-align: center;
}
.window-notice {
  background: rgba(33, 41, 52, .85);
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  transition: background .6s;
}

.window-notice .content {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  min-width: 320px !important;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
}

.content-buttons {
  text-align: center;
  margin-top: 1rem;
}

.content-buttons a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  background-color: #0080DE;
  color: #FFF;
  text-transform: uppercase;
}

.content-buttons a:hover {
  background-color: #006AB8;
}

.content-text a {
  color: #0080DE;
  text-decoration: none;
}

.content-text a:hover {
  color: #006AB8;
  text-decoration: underline;
  text-align: justify;
}
.inicio_y_registro{
  display: flex;
  flex-direction: column;
  float: right;
}
.conteiner {
  background-color: #205377;
  align-self: center;
  width: 90%;
  padding: 100px;
  height: 100px;
}
.conteiner_data {
  background-color: #5e5e5e;
 display:flex;
 align-items: center;
 justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006AB8;
}