/*Este es el codigo CSS de la pagina de el registro de sesion*/
  body { 
    box-sizing: border-box;
    margin:0;
    background-image: url(..//IMAGENES/fondiu_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: #006AB8;
    background-color: #000000;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.box {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: #071ff8;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}


.boton {
  height: 50px;
  margin: 5px;
  width: 120px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

.boton:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #000999;
  box-shadow: 1px 1px 13px #000999, -1px -1px 13px #000999;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.boton:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}
.inicio {
  margin-bottom:10px;
}

.border{
  border-radius: 10px;
  border: outset;
  border-color: black;
  width: 700px;
  height: 700px;
}
.iniciar_sesion {
  text-align: center;
}
.Logo {
  width: 150px;
}
header {
display: flex;
padding: 0%;
margin: 0%;
background-color: #080d11;
border:2px solid black;
font-size: 30px;
text-shadow: 3px 3px 6px rgba(0, 0, 255, 10);
display: flex;
justify-content: space-between;
align-items: center;
}
.texto {
color:white;
font-size: 16px;
}
form {
background-color: #ededed;
padding:10px 0;
max-width: 500px;
margin:auto;
box-shadow: 0px 0px 35px #0006;
margin-top: 50px;   
}
input  {
margin: 5px;
width:100%;
box-sizing: border-box;
padding:6px 12px;
border:none;
border-left: 2px solid #999;
box-shadow: 0px 0px 15px #0001;
border-radius: 4px;
color:navy;
}



