body {
    background-color: black;
    color: aliceblue;
}
#h1{
    color: rgba(0, 255, 221, 0.315);
    text-align: center;
    text-shadow: 3px 0px 1px white

}
#p{
    text-align: left;
}
.div{
    border: outset;
    border-radius: 5px;
    border-color: lightblue;
    opacity: 90%;
}

.div2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

 
