* {
    text-align: center;
}
body { 
    box-sizing: border-box;
      margin:0;
      background-image: url(..//IMAGENES/fondiu.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment:fixed ; 
      font-family: Arial, Helvetica, sans-serif;
      color: #006AB8;
}

header {
    padding: 0%;
    margin: 0%;
    background-color: #080d11;
    border:2px solid black;
    box-shadow: 0 0 35px 0 blue;
    font-size: 30px;
    text-shadow: 3px 3px 6px rgba(0, 0, 255, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
  }
  .Logo {
    width: 7%;
}